@import url(https://fonts.bunny.net/css?family=poppins:400,500,700,900);

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-weight: 700;

    font-family: 'Poppins', sans-serif;
    font-size: clamp(3rem, 3.5vw, 8rem);
    color: rgb(61, 128, 244);
}

h2 {
    font-weight: 700;

    font-family: 'Poppins', sans-serif;
    font-size: clamp(2rem, 2.5vw, 6rem);
    color: rgb(61, 128, 244);
}